recursive-include fastparquet *.thrift
recursive-include fastparquet *.py
recursive-include fastparquet *.pyx
recursive-include fastparquet *.c

include setup.py
include README.rst
include LICENSE
include MANIFEST.in
include requirements.txt

prune fastparquet/test/
prune test-data/
prune docs/
